:root {
    --grey: rgb(53, 53, 53);
    --light-blue: rgb(60, 110, 113);
    --white: white;
    --light-grey: rgb(217, 217, 217);
    --blue: rgb(40, 75, 99);
}

body {
    margin: 0;
    background-color: var(--light-grey);
    color: var(--grey)
}

* {
    box-sizing: border-box;
}

.nav {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    height: 75px;
    align-items: center;
}

.nav__item, .nav__item--highlight {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px;
    height: 100%;
}

.nav__item--highlight, .nav__item:hover {
    background-color: var(--light-blue);
}

.nav__item > a, .nav__item--highlight > a{
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
